.table-container{
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size: 35px;
    text-align: center;
}
.message{
    margin-top: 15px;
    font-weight: bold;
    color: #444;
    text-align: center;
}
p{
    text-align: center;
    margin-top: 15px;
}
table{
    width: 100%;
    border-radius: 15px;
    border-collapse: collapse;
    margin-top: 25px;
    height: 30rem;
}
thead{
    background-color: #444;
    color: white;
    border-radius: 15px;
}
tr th{
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}
tbody{
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 2.5rem;
}
tbody tr:nth-child(even){
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    padding: 15px 20px;
}